# Папка сборки: в ней только .o, .exe и временные файлы
/build/

# Qt Designer генерит .moc, .qmlc и прочие промежуточные файлы
*.moc
*.qmlc

# Пользовательские настройки IDE
*.user
*.pro.user*
*.pro.user

# Файлы редакторов
*.swp
.DS_Store